<DOCTYPE! HTML>

    <html>

        <head>
            <script src="resources/js/jquery-3.2.1.min.js"></script>
            <script src="resources/js/vue.js"></script>
            <link rel="stylesheet" href="resources/css/slideshow.css">
            <link rel="stylesheet" href="resources/css/slideshow_meta.css">             <link rel='stylesheet' href="resources/css/loading.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>

        <body>
            <div id="content">
                <div v-if="local">
                    <div class="slideshow-container" id="slideshow-container"   v-for="(item, index) in items">
                        <div class="mySlides" v-bind:id="index+1" >
                            <img class='img desktop' v-bind:src="item.desktop">
                            <img class='img  mobile' v-bind:src = "item.desktop">
                        </div>

                    </div>
                </div>
                <div v-else>

                    <div class="slideshow-container">
                        <div v-if="unsplash_success">
                            <div class="load">
                                <span class="cssload-loader">
                                    <span class="cssload-loader-inner"></span>
                                </span>
                            </div>
                            <div class=desc>
                                <p class="creator">{{unsplash.user.name}}</p>
                                <a class='link' v-bind:href='unsplash.links.download' target="_blank">download</a>
                            </div>
                            <div class="mySlides  " id="1" style="animation: fadein 5s">
                                <!--h1>keep it real with asics gel lyte III</h1-->

                                <img class='img desktop' v-bind:src='unsplash.urls.full'
                                     onload="removeLoad()">
                                <img class='img  mobile' v-bind:src='unsplash.urls.regular' onload="removeLoad()">
                                <!--<img class="img load">-->

                            </div>
                        </div>
                        <!--div v-else>
<div class="mySlides  " id="1">
<img class='img desktop' src='resources/images/wallpaper_kido2.jpg'>
<img class='img  mobile_res' src='resources/images/wallpaper_kido2_mobile.jpg'>
</div>

<div class="mySlides  " id="2">
<img class='img desktop' src='resources/images/wallpaper_kido3v2.jpg'>
<img class='img  mobile_res' src='resources/images/wallpaper_kido3v2_mobile.jpg'>
</div>

<div class="mySlides  " id="3">
<img class='img desktop' src='resources/images/wallpaper_kido1.jpg'>
<img class='img  mobile_res' src='resources/images/wallpaper_kido1_mobile.jpg'>

</div>
<div class="mySlides " id="4">

<img class='img desktop' src='resources/images/wallpaper_skull.png'>
<img class='img  mobile_res' src='resources/images/wallpaper_skull_mobile.jpg'>
</div>
<div class="mySlides  " id="5">

<img class='img desktop' src='resources/images/wallpaper_skullv2.jpg'>
<img class='img mobile_res' src='resources/images/wallpaper_skullv2_mobile.jpg'>

</div>
</div-->
                    </div>
                </div>
            </div>
            <!--<script src="resources/js/colorthief.js"></script>-->
            <script>

                var slideshow = new Vue({
                    el: '#content',
                    data:{
                        items:[],
                        local: false,
                        unsplash_success: false,
                        unsplash:[]
                    },
                    methods:{

                        init: function(){
                            this.items = getItemStorage();
                            try {
                                if(this.items.length>0){
                                    this.local= true;
                                }else{
                                    getUnsplashImage();
                                }
                            }
                            catch (e) {
                                console.log("getting unsplash image");
                                getUnsplashImage();
                            }
                            console.log(this.items.length);
                        },
                        unsplash_set: function(result){
                            this.unsplash = result[0];
                            console.log("unsplash images %o",this.unsplash);
                            this.unsplash_success = true;
                        }
                    }
                });

                slideshow.init();
                function getItemStorage(){
                    var item = localStorage.getItem('wallpapers'); item = JSON.parse(item);
                    //console.log(item);
                    return item;
                }

                function getUnsplashImage(){
                    $.ajax({
                        url: "https://api.unsplash.com/photos/?client_id=b0c7eaa163c5cb5dd8867d41eb77d83a0d47f7e5717668b1270e0b469174e033&per_page=1",
                        success: function(result){
                            console.log('unsplash %o',result);
                            slideshow.unsplash_set(result);
                        }
                    })

                }


                /*function loadcolor(){
                    var img = document.getElementsByClassName("img");
                    for(var i = 0; i<img.length; i++){
                        RGBaster.colors(img[i].src,{
                            async:false,
                            success: function(payload){

                                $('body','html').css('background-color',payload.dominant);
                                colorDict.push(payload.dominant);
                                console.log(payload.dominant);
                            }
                        });
                    }
                    setTimeout(function(){
                        var color1 = colorDict[0];
                        var color2 = colorDict[1];
                        colorDict[0] =color2;
                        colorDict[1] =color1;
                    },15000);

                }*/


                var slideIndex = 1;



                function move(n) {
                    showDivs(slideIndex += n,n);
                }
                var intervl;
                function startInterval(){

                    intervl = setInterval(function(){
                        if(document.getElementsByClassName("mySlides").length>1)
                            autoslide()

                    },10000);
                }
                function autoslide(){
                    move(1);
                }

                function showDivs(n,move) {
                    var i;
                    var x = document.getElementsByClassName("mySlides");
                    if (n > x.length) {slideIndex = 1}
                    if (n < 1) {slideIndex = x.length} ;
                    for (i = 0; i < x.length; i++) {
                        x[i].style.display = "none";
                    }
                    x[slideIndex-1].style.display = "block";
                }

                $(document).ready(function(){
                    //loadcolor();
                    autoslide();
                    startInterval();

                })

                function removeLoad(){
                    $('.load').css('animation','fadeout 3s');
                    setTimeout(function(){
                        $('.load').hide();
                    },1500);

                }


            </script>

        </body>



    </html>
