/* Reset */
.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
}

/* Calendar Wrapper */
.ui-datepicker {    
    display: none;
    max-width: 294px;
    width: 100%;
    cursor: default;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 12px;
}

/* Calendar Header */
.ui-datepicker-header {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
}

.ui-datepicker-title { text-align: center; }

/* Month */
.ui-datepicker-month {
    position: relative;
    padding-right: 15px;
    color: #bcbcbc;
}

.ui-datepicker-month:before {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    width: 5px;
    height: 5px;
    content: '';

    background: #EC2669;
    background: -moz-linear-gradient(top, #EC2669 0%, #EC2669 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EC2669), color-stop(100%,#EC2669));
    background: -webkit-linear-gradient(top, #EC2669 0%,#EC2669 100%);
    background: -o-linear-gradient(top, #EC2669 0%,#EC2669 100%);
    background: -ms-linear-gradient(top,#EC2669 0%,#EC2669 100%);
    background: linear-gradient(top, #EC2669 0%,#EC2669 100%);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* Year */
.ui-datepicker-year {
    padding-left: 8px;
    color: #a8a8a8;
}

/* Prev Next Month */
.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: -2px;
    padding: 5px;
    cursor: pointer;
}

.ui-datepicker-prev {
    left: 0;
    padding-left: 0;
}

.ui-datepicker-next {
    right: 0;
    padding-right: 0;
}

.ui-datepicker-prev span,
.ui-datepicker-next span{
    display: block;
    width: 10px;
    height: 10px;
    text-indent: -9999px;
    background-image: url('../images/ic_close_white_48px.svg');
}

.ui-datepicker-prev span { background-position: 0px 0px; }

.ui-datepicker-next span { background-position: -5px 0px; }

.ui-datepicker-prev-hover span { background-position: 0px -10px; }

.ui-datepicker-next-hover span { background-position: -5px -10px; }

/* Calendar "Days" */
.ui-datepicker-calendar th {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: normal;
    color: #a8a8a8;
}

.ui-datepicker-calendar td {
    padding: 0 7px;

    text-align: center;
    line-height: 26px;
}

.ui-datepicker-calendar .ui-state-default {
    display: block;
    width: 26px;
    outline: none;
    text-decoration: none;
    color: #a8a8a8;
    border: 1px solid transparent;
}

/* Day Active State*/
.ui-datepicker-calendar .ui-state-active {
    color: #EC2669;
    border-color: #EC2669;
}

/* Other Months Days*/
.ui-datepicker-other-month .ui-state-default { color: #565656; }


body{
background: rgba(0,0,0,0.7);
}

#calendar{
    
    width: 100%;
}