@import "animation.css";
@import url(animation.css);
body{
    background: 0;
    margin-top: 10px;
    padding: 0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.5);
}

#content{
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.dropdown{
margin-left: 10px;
}

#dropdown_btn{
    width: 95%;
    background: #4CAF50;
    border: none;
    border-radius: 0;
    min-width: 200px;
}

.dropdown-menu{
    overflow-y: auto;
    height: 400px;
    min-width: 200px;
    width: 95%;
    background: rgba(0,0,0,0.7);
    border-radius: 0px;
    animation: fadein .3s;
}
.dropdown-menu li a{
    color: white;
}

.dropdown-menu li a:hover{
    background: rgba(255,255,255,0.5);
    cursor: pointer;
}


#content .tile{
    background: black;
    display: block;
    width: 360px;
    height: 200px;
    margin: 10px;
    float: left;
    border-radius: 2px;
}

.tile .desc{
    font-family: sans-serif;
    color: white;
    width: 320px;
    position: absolute;
    z-index: 1;
    padding: 0 10px;
    height: 180px;
}

.tile .desc .title{
    position: absolute;
    bottom: 0;
    transition: all .2s ease-in-out;
}

.tile .desc .description{
     transition: all .7s ease-in-out;
    display: none;
}
.tile .desc .link{
    display: none;
}

.tile:hover .title{
    position: static;
    animation: up 1s;
}

.tile:hover .description{
    display: block;
    animation: up2 1.5s;
}

.tile:hover .link{
    display: block;
    animation: fadein 1.7s;
    text-decoration:none;
    color:#00A0C6;
    text-decoration:none;
    cursor:pointer;
    display: inline-block;
}

.tile:hover img{
    opacity: 0.5;

}

.tile img{
    transition: all .7s ease-in-out;
    width: 360px;
    height: 200px;
    position: absolute;
    display: inline-block;
    border-radius: 2px;
}
