@import url(animation.css);
body{
    margin: 0;
    background-color:black;    
    overflow-y: hidden;
}

/* Slideshow container */
.slideshow-container{
    width: 100%;
    height: auto;
    overflow-y: hidden;
}
.mySlides{ 
    width: 100%;
    animation: slideinright 10s;

}
.mySlides img{    
    height: auto;
    width: 100%;
    transition: all .2s ease-in-out;

}  

.load{
    background: white;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 15%;
}

.desc{
    padding: 10px;
    z-index: 100;
    position: fixed;
    color: white;
    bottom: 0;
    right: 0;
    text-align: right;
    font-family: sans-serif;
}
.desc .link{
    color: white;
    text-decoration: none;
}
.desc:hover .link{
    display: block;
    animation: fadein 2s;
}

.desc:hover .creator{
    animation: up2 1s;
}

.link{
    display: none;
}



/*from left to right*/
@keyframes slideinright{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}



