body{
    overflow-x: hidden;
}
.mobile{

    position: absolute;
    margin: auto;
    min-height: 100%;
    width: auto!important;

    /* For the following settings we set 100%, but it can be higher if needed
    See the answer's update */
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;

    display: none;
}

.mobile_res{
    display: none;
}
@media screen and (max-width: 480px){
    
    .desktop{
        display: none;
    }
    .mobile, .mobile_res{
        display: block;
    }    

}
