.mobile{
    display: none;
}
@media screen and (max-width: 480px){

    .panel{
        width: 100%;
    }

    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }

}

@media screen and (max-height: 500px){
    .panel{
        overflow: hidden;
    }

    .panel #todolist{
        height: 38%;

    }
    .panel #calendar{
        overflow: hidden;
        position: absolute;
        bottom: 0;
    }
}

