@import "animation.css";
@import url(animation.css);

body{
    margin: 0;
    overflow: hidden;   
}
.cover{
    text-align: center;    
    position: absolute;
    z-index: 1000;
    padding-top: 10%;
    background: white;
    height: 100%;
    width: 100%;
}

.cover img{
    height: 150px;
    width: auto;
}

.background{
    height: 100%;
}
.background .time{
    width: 200px;
    cursor: default;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    font-family: sans-serif;
    font-size: 32px;
    margin: 16px;
    color: white;
    padding: 6px;
    border-radius: 10px;
    transition: all .5s ease-in-out;
    background: rgba(0,0,0,0.5);
}

.background .time:hover{
    background: rgba(0,0,0,0.7);
}

.background .time .date{
    font-size: 14pt;
}


iframe{
    border: none;
}

.button_div{
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: left;
    transition: all .3s ease-in-out;
}

#button{   
    background: rgba(0,0,0,0.3);
    color: white;
    border-width: 0 0 0 0;
    border-radius: 2px;
    font-size: 24px;
    padding: 2px 4px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}


.search{
    position: absolute;
    bottom: 0;
    width: 100%; 
    height: 100%;
    display: none;
}


.search .form{   
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    */
    width: 100%;
    text-align: center;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
}
::-moz-placeholder { /* Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* IE 10+ */
    color: white;
}
:-moz-placeholder { /* Firefox 18- */
    color: white;
}

.search .form #text{
     -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed v*/

    text-align: right;
    padding-right: 10px;
    margin-right: 10px;
    background: none;
    border-width: 0 2px 0 0;    
    border-color: rgba(255,255,255,0.5);
    /*color: white;*/
    transition: all .3s ease-in-out;
    font-size: 24px;
    margin-top: 20%;
    width: 170px;
    color: transparent;
    text-shadow: 0 0 0 white;

}

.search .time{
    margin-top: 10px;
    font-size: 18px;
    color: white;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
}

.search .time .date{
    margin-top: 2px;
    font-size: 16px;
}

.search .time .time_value{
    margin-top: 2px;
}

.search .form #text:focus{
    outline:none;
}

.search .form #button{
    background-color: #333;
    color: white;
    border: 1px solid #333;
    border-radius: 5px;    
    animation: slideinright 1s;    
    font-size: 20px;
    clear: both;
    cursor: pointer;
}

.show{
    display: block;
    animation: fadein .5s;
    background-color: rgba(0,0,0,0.7);
}

.close{    
    animation: fadeout .5s;
}
/*weather*/
.weather{
    min-width: 150px;
    width: 30%;
    max-width: 250px;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    color: white;
    font-family: sans-serif;
    padding: 16px;
}

.weather .location #location_detail{
    font-size: 14px;
}

.weather .forecast #forecast_detail{
    font-size: 16px;
}


/*hamburger menu*/
.hamburger{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    transition: all .3s ease-in-out;
}

/*panel*/

.shadow{
    z-index: 2;
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
    animation: fadein 1s;
}

.panel{
    box-shadow: -10px 0px 10px rgba(0,0,0,0.1);
    /*padding-top: 50px;*/
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    z-index: 3;
    background: rgba(0,0,0,0.5);
    border-radius: 0;
}

.panel #todolist{
    height: 50%;
}

.panel #calendar{
    height: 35%;
}

.panel #news_frame{
    height: 90%;
}

.panel #upload{
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    height: 30px;
    overflow-y: hidden;
}

.footer-panel{
    position: absolute;
    bottom: 0;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.footer-panel a{
    width: 100%;
    display: inline-block;
    font-size: 24px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    color: #EC2669;
}
.nav-tabs a{
    color: #4CAF50;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: white;
    background: rgba(255,255,255,0.2);
    border: none;
    border-radius: 0px;
    cursor: default;    
    border-bottom-color: transparent;
}

.nav-tabs>li>a:hover{
    border-radius: 0px;
    background: rgba(255,255,255,0.4);    
    border: none;
}


.nav-tabs {
    border-bottom: 1px solid rgba(0,0,0,0);
}

.tab-content{
    margin-top: 16px;
}
