@import "animation.css";
@import url(animation.css);
body{
    border-style: solid;
    border-width: 1px 0 0;
    padding-top: 10px;
    overflow-x: hidden;
    background: none;
    background: rgba(0,0,0,0.5);
}
/*button layout*/
img{
    height: 100%;
    width: auto;
}
.button{
    height: 32px;
    margin: 0;
    padding: 0;
    width: 32px;
    background: none;
    border-color: rgba(0,0,0,0);
    transition: all .2s ease-in-out;
}
/*--------------*/

/*add_todo*/
#add_todo{        
    height: 32px;
    margin-bottom: 10px;
    animation: fadein1 1s;
}
#add_btn{ 

}
#add_btn:hover{
    background: #AEC7DC;
}
#text{    
    border-radius: 4px;
    border: none;
    padding: 0 8px;
    height: 100%; 
    width: 85%;
    min-width: 200px;
    vertical-align: bottom;
}

/*--------*/

/*list_item*/
#list_item{
    font-family: sans-serif;    
}

#list_item ul{
    list-style-type: none;
    padding: 0;
}

#list_item ul li{

}
#list_item ul li .item{
    animation: fadein1 .3s;
    color: white;
    border-width: 0 0 1px;
    border-style: solid;  
    border-bottom-color: rgba(255,255,255,0.5);    
}
#list_item ul li .item .message{
    text-align: center;
    vertical-align: middle;
    line-height: 32px; 
}
#list_item ul li .item .button{

}

#list_item ul li .item #btn_remove{
    right: 0;
    position: absolute;
    margin-right: 16px;    
}

#list_item ul li .item #btn_remove:hover{
    background: #EC2669;    
}
#list_item ul li .item #btn_done:hover{
    background: #7bbb5e;    
}

/*----------*/


.strike{
    text-decoration: line-through;    
    animation: fadein .5s;
}

.nostrike{
    animation: fadein1 .5s;
}