body{
    margin: 0;
}

nav{
    color: black;
}

.hamburger{
    float: left;    
}

#navigation{
    display: none;
}

#navigation a{
    color: black;    
}
.navbar-brand{
    color: black;
}

.sidebar{
    height: 100%;
    width: 100%;    
    overflow: hidden;
}

.sidebar .background{
    height: 100%;
    width: 100%;

}
.content .row .col-md-3{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 200px;
    height: 50%;
    background: #333;
}

.content{
    background: #E0E0E0;
    height: auto;
}

.container{
    padding: 100px;
}

.container .top_banner{
    background: white;
    height: 200px;
    padding: 10px;
}

.container .top_banner .banner_logo{    
    height: 50px;          
}

.container .top_banner .banner_logo img{
    height: 100%;
    width: auto;
    margin-left: 35%;
}



